{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppers page</title>
    <link rel="stylesheet" href="{% static 'css/cs.css' %}">
</head>
<body>
    <h1 class="main_heading">Orders right now</h1>
    <div class="orders">
        <table>
            {% for list in lists%}
            <tr>
                <td>{{list.email}}</td>
                <td>{{list.F_name}}</td>
                <td>{{list.M_name}}</td>
                <td>{{list.product}}</td>
                <td>{{list.phone}}</td>
                <td>{{list.city}}</td>
                <td>{{list.street}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>