Hi {{name}},

Thanks for your order with Kaldis coffee!

We're happy to confirm that we've received your order:

Order Number:{{order_id}}
Order Details : {{item.description}}

{{item.name}}
{{item.img2}}

Total:{{item.price}}

If you have any questions or need to make changes, 
feel free to contact us at [Phone Number] or reply to this email.
We appreciate your business and look forward to fueling 
your day with great coffee!

Warm regards,
Kaldis Coffee
[Ethiopia,Addis ababa,Medhanialem] | kaldis.com 