{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="{% static 'css/cs.css' %}">
</head>
<body>
    <form action="" method="POST">
    <h1 class="login_head">Login here if ur admin</h1>
    {% csrf_token %}
    {%if messages%}
            {% for message in messages%}
                {% if message.tags == 'error' %}
                    <h4 class="error">{{message}}</h4>
                {% else%}
                    <h4 class="success">{{message}}</h4>
                {%endif%}
            {% endfor%}
        {% endif%}
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name = "password">
        <input type="submit" placeholder="submit">
    </form>
</body>
</html>