{% extends "layout.html" %}
{%block content%}
<div class="order">
<div class="order_content">
    <div class="selected_product">
        <img src="{{product.img2.url}}" alt="" height = "150">
        <h2>{{product.name}}</h2>
        <h3>{{product.price}}</h3>
        <p>{{product.description}}</p>
    </div>
    <div class="personal_info">
        <form action="{% url 'orders:update_orders' product.id %}"  method="POST" class="personal_info_form">
            {% csrf_token %}
            <h1>Enter you information</h1>
            <div class="full_name">
                <label for="name">Full Name</label>
                <input type="text" placeholder="First name" name="name">
                <input type="text" placeholder="last name" name="M_name">
            </div>
            <div class="phone_number">
            <label for="phone">Phone number</label>
            <input type="phone2numeric" placeholder="+251-9XX-XXX-XXX" name =  'phone'>
            </div>
            <div class="email">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name= 'email'>
            </div>
            <div class="ship_add">
            <label for="addres">Addres</label>
            <input type="text" placeholder="City" name= 'address'>
            <input type="text" placeholder="street" name = 'street'>
            </div>
            <input type="submit" value="Order" class="order_button">
            <input type="hidden" name="product_id" value="{{ product.id }}">
        </form>
    </div>
</div>
</div>
{% endblock %}
