*{
    background-color: black;
    color: white;
}
.main_heading{
    text-align: center;
    font-size: 4rem;
    font-family: cursive;
}
.orders table{
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    font-size: 1.5rem;
}
.orders table th, td{
    border: 1px solid white;
    padding: 30px 30px;
    color: white;
    align-items: center;
}