@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Maname&family=Poiret+One&display=swap');
*{
    background-color: black;
    scroll-behavior: smooth;
    color: white;
    margin: 0;
}
.nav{
    display: flex;
    gap: 25%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 999;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav span{
    display: inline-block;
    font-family: "Hanalei", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    transform: translateX(10%) translateY(10%);
    background-color: black;
    color: orange;
    z-index: 999;
}
.navbar_elements{
    display: flex;
    gap: 100px;
}
.navbar_items{
    list-style-type: none;
}
.navbar_links{
    position: relative;
    color: white;
    text-decoration: none;
    font-family: cursive;
    transition: all 0.35s ease;
}
.navbar_links::after{
    position: absolute;
    content: '';
    background-color: orange;
    width: 0;
    height: 2px;
    left: 0;
    top: 100%;
    transition: all 0.35s ease;
}
.navbar_links:hover::after{
    width: 120%;
}
.navbar_links.active,
.navbar_links:hover{
    color: orange;
}
#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home_text_{
    color: white;
    display: flex;
    flex-direction: column;
}
.home_text_ p{
    color: rgb(194, 194, 194);
    margin: 0;
    font-size: 1.5rem;
}
.home_text_ h1{
    color: white;
    font-size: 5rem;
    margin: 0;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
    animation: fadeIn 0.7s ease-in forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} 
.home_text_ button a  {
    text-decoration: none;
    color: #ffffff;
    z-index: 9;
    background-color: transparent;
}
.home_text_ button{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 15px 15px;
    text-align: center;
    margin: 30px 0;
    color: white;
    border: 3px solid rgb(255, 115, 0);
    background: transparent;
    font-size: 3rem;
    border-radius:30px ;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    z-index: 1;
    font-style: normal;
}
.home_text_ button:after{
    position: absolute;
    content: '';
    border-radius:25px ;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgb(255, 115, 0);
    transition: all 0.35s ease;
    z-index: -1;
}
.home_text_ button:hover:after{
    width: 100%;
}
#product h1{
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: 400;
    font-size: 5rem;
}
.product_cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    flex-wrap: wrap;
}
.product_items{
    margin: 20px 20px;
    color: white;
    border: 2px solid orange;
    padding: 20px 20px;
    border-radius: 20px;
}
.product_items h2{
    font-size: 2.5rem;
    margin: 0;
}
.product_items button{
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.35s ease;
    border-radius: 5px;
}
.product_items button a{
    color: white;
    text-decoration: none;
    transition: all 0.35s ease;
}
.text_holder{
    display: flex;
    justify-content: space-between;
}
.product_items button a:hover{
    color: orange;
}
.product_items button:hover{
    border: 2px solid orange;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_content{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}
.selected_product{
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
    border: 2px solid orange;
    border-radius: 10px;
    padding: 30px 30px;
}
.selected_product *{
    background-color: rgb(23, 23, 23);
    color: white;
    margin: 10px 0px;
    font-size:1.5rem;
}
.selected_product h3{
    font-size:3rem;
}
.personal_info{
    border: 2px solid orange;
    padding: 30px 30px;
    margin: 20px 20px;
    border-radius: 20px;
}
.personal_info_form{
    display: flex;
    flex-direction: column;
}
.personal_info_form h1{
    color: white;
    font-family: cursive;
}
.personal_info_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #000 inset; 
    -webkit-text-fill-color:white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.personal_info_form input{
    background-color: transparent;
    outline: none;
    border: 2px solid orange;
    padding: 20px 20px;
    margin: 10px 10px;
    border-radius:10px ;
    color: white;
}
.personal_info_form label{
    color: gray;
    font-family: cursive;
}
.order_button:hover{
    background-color: orange;
    color: white;
    transition: all 0.5s ease;
    font-size: 1.5rem;
}
.succ_classes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.succ_classes h1{
    margin: 0;
    font-size: 4rem;
    font-family: cursive;
    color: orange;
}
.succ_classes h2{
    font-size: 4rem;
    margin: 0;
    font-family:cursive;
    color: white;
}
.about_logo{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}
.about_logo img{
    margin: 70px 30px;
}
.about_para{
    display: flex;
    flex-direction: column;
}
.about_para h1{
    font-size: 5rem;
    font-family: cursive;
    color: orange;
    text-align: center;
    margin: 20px 0;
}
.about_para h2 span{
    font-size: 7rem;
    color: red;
}
.about_para h2{
    color: white;
    margin: 50px 50px;
    font-weight: 20;
}
#contact *{
    background-color: transparent;
}
#contact{
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: space-around;
    margin: 0;

}
.cont_icons h1{
    font-size: 7rem;
    font-family: "Hanalei", system-ui;
    color: orange;
    margin: 20px 40px;
    font-weight: 40;
}
.social_media a i{
    margin: 30px 0px;
}
.social_media a{
    font-size: 4rem;
    text-align: center;
    margin: 40px 30px;
    color: gray;
}
.social_media p{
    margin:40px 10px;
    font-size: 1.5rem;
    font-weight: 20;
    color: gray;
}
.footer_nav h2{
    margin: 30px 30px;
    color: gray;
    font-size: 3.5rem;
}
.footer_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
.get_in{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
}
.get_in h2{
    margin: 30px 30px;
    color: gray;
    font-size: 3.5rem;
}